@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Regular.woff") format("woff"), url("../fonts/Oswald-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Bold.woff") format("woff"), url("../fonts/Oswald-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 22px;
}
p {
  margin-bottom: 10px;
  font-family: Arial;
}
p:last-child {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  max-width: 100%;
  height: auto;
}
.main-container {
  min-width: 768px;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 2%;
}
.header {
  color: #474444;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.title {
  font-family: "Oswald";
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}
.header__logo {
  font-family: "Oswald";
  font-size: 70px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}
.header__char {
  color: #fd5433;
}
.menu {
  font-size: 17px;
  font-family: "Oswald";
}
.menu__list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.menu__list-item {
  float: left;
}
.menu__list:after {
  display: block;
  content: "";
  clear: left;
}
a {
  text-decoration: none;
}
a:focus,
a:hover {
  color: #fd5433;
}
.link {
  color: inherit;
}
.menu__link {
  display: inline-block;
  font-size: 17px;
  font-weight: 700;
  padding: 47px 15px;
}
.menu__link:hover,
.menu__link:focus {
  background-color: #fd5433;
  color: #fff;
  outline: none;
}
.home {
  font-family: "Oswald";
}
.home-container {
  position: relative;
  background-color: #000;
  opacity: .9;
}
.home-container:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("../img/Banner.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.home__content {
  color: #fff;
  text-align: center;
  padding-top: 229px;
  padding-bottom: 334px;
}
.home__text {
  text-transform: uppercase;
  font-size: 120px;
}
.home__item {
  margin-top: 57px;
}
.home__button {
  padding: 13px 54px 11px;
  font-size: 32px;
  border-radius: 5px;
}
.home__button:focus {
  outline: 2px solid #fff;
}
.button {
  -webkit-transition: background 0.5s ease-in;
  transition: background 0.5s ease-in;
  font-weight: 700;
  color: #fff;
  background: #fd5433;
  border-top: 2px solid #ff6d51;
  -webkit-box-shadow: 0 6px 4px -4px #000;
  box-shadow: 0 6px 4px -4px #000;
}
.button:focus,
.button:hover {
  background: #ff6d51;
  color: #fff;
}
.section {
  margin-top: 38px;
}
.section__services {
  padding-bottom: 81px;
  border-bottom: 1px solid #474444;
}
.section__title {
  margin-bottom: 36px;
  text-align: center;
  font-weight: 700;
  color: #fd5433;
}
.section__content {
  padding-top: 36px;
  border-top: 1px solid #474444;
}
.section__name {
  margin-bottom: 34px;
  font-size: 30px;
  font-weight: 700;
  color: #474747;
}
.section__branding,
.section__design,
.section__marketing {
  display: inline-block;
  vertical-align: bottom;
  width: 32%;
  text-align: center;
  padding-top: 200px;
  margin-right: 1%;
  background-position-x: center;
  background-repeat: no-repeat;
}
.section__branding {
  background-image: url("../img/PEN.jpg");
}
.section__design {
  background-image: url("../img/PC.jpg");
}
.section__marketing {
  background-image: url("../img/Mic.jpg");
  margin-right: 0;
}
.section__services-content {
  width: 78%;
  margin: 0 auto;
}
.protfolio__content {
  border-top: 0;
}
.portfolio__img {
  float: left;
  width: 16.66%;
}
.portfolio__column:after {
  display: block;
  content: "";
  clear: left;
}
.about__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 65px;
  margin-bottom: 65px;
}
.about__content {
  position: relative;
  padding: 66px 0 45px;
  background-color: #fd5433;
  background-repeat: no-repeat;
  background-size: cover;
}
.member__info {
  display: inline-block;
  vertical-align: top;
  color: #fff;
  width: 47%;
}
.member__link_active {
  position: relative;
}
.member__link_active:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translate(-50%, 65px);
  transform: translate(-50%, 65px);
  z-index: 1;
  border: 20px solid transparent;
  border-top: 40px solid #fff;
}
.member__title {
  font: 22px "Oswald-Bold";
  color: inherit;
  margin: 0 0 38px;
}
.member__text {
  font-family: Arial;
  color: #fff;
  width: 80%;
  margin-top: 12px;
}
.member__socials {
  margin-top: 53px;
}
.member__socials-link {
  text-decoration: none;
  margin-right: 20px;
}
.skill {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  color: #fff;
}
.skill__column {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  color: #fff;
}
.skill__column-bar {
  padding-top: 59px;
  width: 59%;
}
.skill__text:not(:nth-of-type(1)) {
  font-family: Arial;
  color: #fff;
  width: 80%;
  margin-top: 12px;
}
.skill__bar-row:not(:nth-of-type(1)) {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  margin-top: 13px;
}
progress::-webkit-progress-bar {
  background: #fd5433;
}
progress::-webkit-progress-value {
  background: #fff;
}
.skill__bar {
  display: inline-block;
  vertical-align: middle;
  height: 10px;
  width: 75%;
  margin: 0;
  background: #fff;
  color: #fff;
}
.posts__column {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  margin-right: 10px;
}
.posts__item-column {
  margin-right: 0;
}
.posts__article {
  margin-top: 90px;
}
.posts__content {
  padding-bottom: 99px;
  border-bottom: 1px solid #474444;
}
.posts__column-content {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  margin-left: 17px;
  color: #686868;
}
.posts__title {
  font: 25px "Oswald-Bold";
  color: #3d3c3c;
  margin-top: 0;
  margin-bottom: 0;
}
.posts__date {
  margin-top: 10px;
  padding-bottom: 18px;
  font: 15px "Oswald-Bold";
}
.posts__month-hr {
  padding-bottom: 14px;
  border-bottom: 4px solid #fd5433;
}
.posts__column-text {
  width: 88%;
  margin-top: 30px;
  font: 16px Arial;
}
.contact__content {
  background-image: url("../img/bg-city.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30px;
  width: 100%;
  position: relative;
  border: 0;
}
.feedback {
  padding: 28px 10px 0;
  text-align: center;
  font-size: 20px;
  color: #fd5433;
}
::-webkit-input-placeholder {
  font-size: 20px;
  color: #fd5433;
}
.feedback__name {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 21px 21px 19px;
  width: 48.5%;
  font-size: 20px;
  color: #fd5433;
}
.feedback__email {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 21px 21px 19px;
  margin-left: 2.7%;
  width: 48%;
  font-size: 20px;
  color: #fd5433;
}
.feedback__message {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 21px 21px 19px;
  margin-top: 28px;
  font-size: 20px;
  color: #fd5433;
}
.feedback__button {
  font: 26px "Oswald-Bold";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 0 12px;
  margin-top: 24px;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  cursor: pointer;
}
.footer {
  margin-top: 83px;
  border-top: 1px solid #fff;
}
.footer__content {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
