@font-face{
    font-family: "Oswald-Regular";
    src: url("../fonts/Oswald-Regular.woff") format("woff"),
         url("../fonts/Oswald-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: "Oswald-Bold";
    src: url("../fonts/Oswald-Bold.woff") format("woff"),
         url("../fonts/Oswald-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

body{
    margin: 0;
    font: 16px Arial,Helvetica,sans-serif;
    background: #fff;
}

*:focus{
    outline: 2px solid #fd5433;
}

img{
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.main-container{
    padding-top: 2px;
    min-width:  768px;
    max-width: 1170px;
    margin: 0 auto;
}

.header__logo{
    float: left;
    font: 70px "Oswald-Regular";
    color: #474444;
    width: 17%;
    max-width: 29%;
    margin: 0;
}

.header__logo:after{
    display: block;
    content: "";
    clear: left;
}

.header__char{
    color: #fd5433;
}

.header__menu{
    float: right;
    font: 17px "Oswald-Bold";
    max-width: 70%;
}

.menu__list{
    margin: 0;
    list-style: none;
    padding: 47px 0;
}

.menu__list-item{
    float: left;
}

.menu__list:after{
    display: block;
    content: "";
    clear: left;
}

.menu__link{
    padding: 47px 16px;
    text-decoration: none;
    color: #565656;
}

.menu__link:active, .menu__link:hover{
    color: #fff;
    background: #fd5433;
}

.menu__link_active{
    color: #fff;
    background: #fd5433;
}

.header:after{
    display: block;
    content: "";
    clear: both;
}

.home{
    position: relative;
}

.home:before{
    content:"";
    position:absolute;
    z-index: -1;
    background-image: url("../img/Banner.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .4;
    width: 100%;
    height: 800px;
}

.home:after{
    content: "";
    position: absolute;
    z-index:-3;
    top: 0%;
    left: 0%;
    background-color: #515151;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
}

.home__caption{
    font: 120px "Oswald-Regular";
    color: #fff;
    padding-top: 170px;
    margin-bottom: 27px;
    text-align: center;
}

.home__item{
    text-align: center;
}

.home__button{
    padding: 13px 54px 11px;
    font: 32px "Oswald-Bold";
    border-radius: 5px;
}

.home__button:focus{
    outline: 2px solid #fff;
}

.button{
    transition: all .5s ease-in-out;
    text-decoration: none;
    color: #fff;
    background: #fd5433;
    border-top: 2px solid #ff6d51;
    box-shadow: 0 6px 4px -4px #000;
}

.button:active, .button:hover{
    background: #ff6d51;
}

.section{
    margin-top: 38px;
}

.services{
    margin-top: 435px;
    padding-top: 1px;
    background: #fff;
}

.section__title{
    font: 32px "Oswald-Bold";
    color: #fd5433;
    text-align: center;
}

.section__content{
    border-top: 1px solid #474444;
}

.services__content{
    border-bottom: 1px solid #474444;
    padding: 101px 0 81px;
}

.services__column{
    display: inline-block;
    vertical-align: bottom;
    width: 32%;
    text-align: center;
    margin-right: 1%;
}

.services__marketing{
    margin-right: 0;
}

h2{
    font: 30px "Oswald-Bold";
    color: #3d3c3c;
    margin: 0 0 38px;
}

.services__title{
    margin-top: 38px;
}

.article__content{
    font-family: "Oswald-Regular";
    color: #121212;
}

.services__column-text{
    width: 64.5%;
    margin: 0 auto;
}

.protfolio__content{
    border-top: 0;
}

.portfolio__img{
    float: left;
    width: 16.66%;
}

.portfolio__column:after{
    display: block;
    content: "";
    clear: left;
}

.about__header{
    margin-top: 65px;
    margin-bottom: 65px;
}

.member__link{
    display: inline-block;
    vertical-align: top;
    width: 24%;
    text-align: center;
}

.about__content{
    position: relative;
    padding: 70px 0;
}

.about__content:before{
    content: "";
    position: absolute;
    z-index:-3;
    top: 0%;
    left: 0%;
    background-color: #fd5433;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 349px;
}

.member__info{
    display: inline-block;
    vertical-align: top;
    color: #fff;
    width: 47%; /*549px*/
}

.member__title{
    font: 22px "Oswald-Bold";
    color: inherit;
    margin: 0 0 38px;
}

.member__text{
    font-family: "Oswald-Regular";
    color: #fff;
    width: 80%;
    margin-top: 12px;
}

.skill{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    color: #fff;
}

.skill__column{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    color: #fff;
}

.skill__column-bar{
    padding-top: 60px;
    width: 59%;
}


.skill__text:not(:nth-of-type(1)){
    font-family: "Oswald-Regular";
    color: #fff;
    width: 80%;
    margin-top: 12px;
}

.skill__bar-row:not(:nth-of-type(1)){
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin-top: 20px;
}

progress::-webkit-progress-bar{
    background: #fd5433;
}

progress::-webkit-progress-value{
    background: #fff;
}

.skill__bar{
    display: inline-block;
    vertical-align: middle;
    width: 75%;
    margin: 0;
    background: #fff;
    color: #fff;
}

.posts__column{
    display: inline-block;
    vertical-align: top;
    width: 49%;
    margin-right: 10px;
}

.posts__item-column{
    margin-right: 0;
}

.posts__article{
    margin-top: 90px;
}

.posts__content{
    padding-bottom: 99px;
    border-bottom: 1px solid #474444;
}

.posts__column-content{
    display: inline-block;
    vertical-align: top;
    width: 49%;
    margin-left: 17px;
    color: #686868;
}

.posts__title{
    font-size: 25px;
    margin-bottom: 0;
}

.posts__date{
    margin-top: 10px;
    padding-bottom: 18px;
}

.posts__month-hr{
    padding-bottom: 14px;
    border-bottom: 4px solid #fd5433;
}

.posts__column-text{
    margin-top: 30px;
}

.contact__content{
    position: relative;
    border: 0;
}

.contact__content:before{
    content:"";
    position:absolute;
    z-index: -1;
    background-image: url("../img/bg-city.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 572px;
}

.contact__content:after{
    content: "";
    position: absolute;
    z-index:-3;
    top: 0%;
    left: 0%;
    background-color: #515151;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 572px;
}

.feedback{
    padding-top: 28px;
    text-align: center;
    font: 20px "Oswald-Regular";
    color: #fd5433;
}

::-webkit-input-placeholder{
   font: 20px "Oswald-Regular";
   color:  #fd5433;
}

.feedback__name{
    box-sizing: border-box;
    padding: 21px 21px 19px;
    width: 49%;
    margin-right: 25px;
    font: 20px "Oswald-Regular";
    color: #fd5433;
}

.feedback__email{
    box-sizing: border-box;
    padding: 21px 21px 19px;
    width: 48%;
    font: 20px "Oswald-Regular";
    color: #fd5433;
}

.feedback__message{
    width: 96%;
    padding: 21px 21px 19px;
    margin-top: 28px;
    font: 20px "Oswald-Regular";
    color:  #fd5433;
}

.feedback__button{
    margin-top: 24px;
    font: 26px "Oswald-Bold";
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    width: 100%;
    padding: 18px 0 14px;
    cursor: pointer;
}

.footer{
    margin-top: 83px;
    border-top: 2px solid #fff;
}

.footer__content{
    margin-top: 10px;
    text-align: center;
    font: 18px "Oswald-Regular";
    color: #fff;
}
