@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Regular.woff") format("woff"), url("../fonts/Oswald-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Bold.woff") format("woff"), url("../fonts/Oswald-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
.main-container {
  position: relative;
  margin: 0 auto;
  padding: 0 2%;
}
@media screen and (min-width: 768px) and (max-width: 1170) {
  .main-container {
    max-width: 1170px;
  }
}
@media screen and (max-width: 767) {
  .main-container {
    max-width: 600px;
  }
}
@media screen and (max-width: 400) {
  .main-container {
    max-width: 300px;
  }
}
.header {
  color: #474444;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__logo {
  font-family: "Oswald";
  font-size: 7rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}
.header__char {
  color: #fd5433;
}
.menu {
  font-size: 1.7rem;
  font-family: "Oswald";
}
.menu__list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.menu__list-item {
  float: left;
}
.menu__list:after {
  display: block;
  content: "";
  clear: left;
}
.menu__link {
  display: inline-block;
  font-weight: 700;
  padding: 4.7rem 1.5rem;
  color: #474444;
  /*Временное решение*/
}
.menu__link:hover,
.menu__link:focus {
  background-color: #fd5433;
  color: #fff;
  outline: none;
}
@media screen and (max-width: 399px) {
  .menu {
    font-size: 3rem;
  }
  .menu__link {
    display: inline-block;
    font-weight: 700;
    padding: 2.3rem 1.3rem;
    color: #474444;
    /*Временное решение*/
  }
}
.home {
  font-family: "Oswald";
  color: #fff;
}
.home {
  position: relative;
  background-image: url("../img/Banner.jpg");
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  padding-top: 22.9rem;
  padding-bottom: 33.4rem;
}
@media screen and (min-width: 401px) and (max-width: 850px) {
  .home {
    padding-top: 15.3rem;
    padding-bottom: 22.3rem;
  }
}
@media screen and (max-width: 400px) {
  .home {
    padding-top: 11.4rem;
    padding-bottom: 16.7rem;
    background-attachment: scroll;
  }
}
.home:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: .4;
}
.home__text {
  text-transform: uppercase;
  font-size: 12rem;
}
@media screen and (min-width: 401px) and (max-width: 850px) {
  .home__text {
    font-size: 8rem;
  }
}
@media screen and (max-width: 400px) {
  .home__text {
    font-size: 6rem;
  }
}
.home__item {
  margin-top: 5.7rem;
}
.home__button {
  padding: 1.3rem 5.4rem 1.1rem;
  font-size: 3.2rem;
  border-radius: .5rem;
}
.home__button:focus {
  outline: .2rem solid #fff;
}
.title {
  font-family: "Oswald";
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}
.button {
  -webkit-transition: background 0.3s ease-in;
  transition: background 0.3s ease-in;
  font-family: "Oswald";
  font-weight: 700;
  color: #fff;
  background: #fd5433;
  border-top: 2px solid #ff6d51;
  -webkit-box-shadow: 0 6px 4px -4px #000;
  box-shadow: 0 6px 4px -4px #000;
}
.button:focus,
.button:hover {
  background: #ff6d51;
  color: #fff;
}
.section {
  margin-top: 3.8rem;
}
.section__services {
  padding-bottom: 8.1rem;
  border-bottom: .1rem solid #828282;
}
.section__title {
  margin-bottom: 3.6rem;
  font-size: 3.2rem;
  text-align: center;
  font-weight: 700;
  color: #fd5433;
}
.section__content {
  padding-top: 3.6rem;
  border-top: .1rem solid #828282;
}
.section__services-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.section__services-name {
  margin-bottom: 3.4rem;
  font-size: 3rem;
  color: #474747;
}
.section__branding,
.section__design,
.section__marketing {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 32%;
  padding-top: 21rem;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  text-align: center;
  background-position-x: center;
  background-repeat: no-repeat;
}
.section__branding {
  background-image: url("../img/PEN.jpg");
}
.section__design {
  background-image: url("../img/PC.jpg");
}
.section__marketing {
  background-image: url("../img/Mic.jpg");
}
@media screen and (max-width: 767px) {
  .section__branding,
  .section__design,
  .section__marketing {
    padding-top: 25rem;
  }
}
@media screen and (max-width: 554px) {
  .section__branding,
  .section__design,
  .section__marketing {
    width: 100%;
    padding-left: 4.3rem;
    padding-right: 4.3rem;
    margin-bottom: 3.6rem;
  }
  .section__marketing {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 399px) {
  .section__title {
    font-size: 5.3rem;
  }
  .section__branding,
  .section__design,
  .section__marketing {
    padding-top: 32rem;
  }
  .section__services-name {
    font-size: 4.3rem;
  }
  .section__services-info {
    font-size: 3rem;
  }
}
.protfolio__content {
  border-top: 0;
  padding-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.portfolio__link {
  width: 16.65%;
}
.portfolio__img {
  display: block;
  width: 100%;
  max-width: 100%;
}
@media screen and (min-width: 1401px) {
  html {
    font-size: 70%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1400px) {
  html {
    font-size: 62.5%;
  }
}
@media screen and (max-width: 767px) {
  html {
    font-size: 52.5%;
  }
}
@media screen and (max-width: 399px) {
  html {
    font-size: 32.5%;
  }
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 1.6rem;
  background: #fff;
}
h1 {
  font-size: 1.75rem;
}
h2 {
  font-size: 1.625rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.375rem;
}
p {
  margin-bottom: 1rem;
  font-family: Arial;
}
p:last-child {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
a:focus,
a:hover {
  color: #fd5433;
}
.about__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 6.5rem;
  margin-bottom: 6.5rem;
}
.about__content {
  position: relative;
  padding: 6.6rem 0 4.5rem;
  background-color: #fd5433;
  background-repeat: no-repeat;
  background-size: cover;
}
.member__info {
  display: inline-block;
  vertical-align: top;
  color: #fff;
  width: 47%;
}
.member__link_active {
  position: relative;
}
.member__link_active:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translate(-50%, 65px);
  transform: translate(-50%, 65px);
  z-index: 1;
  border: 2rem solid transparent;
  border-top: 4rem solid #fff;
}
.member__title {
  font: 2.2rem "Oswald-Bold";
  color: inherit;
  margin: 0 0 38px;
}
.member__text {
  font-family: Arial;
  color: #fff;
  width: 80%;
  margin-top: 1.2rem;
}
.member__socials {
  margin-top: 5.3rem;
}
.member__socials-link {
  text-decoration: none;
  margin-right: 2rem;
}
.skill {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  color: #fff;
}
.skill__column {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  color: #fff;
}
.skill__column-bar {
  padding-top: 5.9rem;
  width: 59%;
}
.skill__text:not(:nth-of-type(1)) {
  font-family: Arial;
  color: #fff;
  width: 80%;
  margin-top: 1.2rem;
}
.skill__bar-row:not(:nth-of-type(1)) {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  margin-top: 1.3rem;
}
progress::-webkit-progress-bar {
  background: #fd5433;
}
progress::-webkit-progress-value {
  background: #fff;
}
.skill__bar {
  display: inline-block;
  vertical-align: middle;
  height: 1rem;
  width: 75%;
  margin: 0;
  background: #fff;
  color: #fff;
}
.posts__column {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  margin-right: 1rem;
}
.posts__item-column {
  margin-right: 0;
}
.posts__article {
  margin-top: 9rem;
}
.posts__content {
  padding-bottom: 9.9rem;
  border-bottom: .1rem solid #474444;
}
.posts__column-content {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  margin-left: 1.7rem;
  color: #686868;
}
.posts__title {
  font-size: 25px;
  color: #3d3c3c;
  margin-top: 0;
  margin-bottom: 0;
}
.posts__date {
  margin-top: 1rem;
  padding-bottom: 1.8rem;
  font: 1.5rem "Oswald-Bold";
}
.posts__month-hr {
  padding-bottom: 1.4rem;
  border-bottom: .4rem solid #fd5433;
}
.posts__column-text {
  width: 88%;
  margin-top: 3rem;
  font: 1.6rem Arial;
}
.contact__content {
  background-image: url("../img/bg-city.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3rem;
  width: 100%;
  position: relative;
  border: 0;
}
.feedback {
  padding: 2.8rem 1rem 0;
  text-align: center;
  font-size: 2rem;
  color: #fd5433;
}
::-webkit-input-placeholder {
  font-size: 2rem;
  color: #fd5433;
}
.feedback__name {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2.1rem 2.1rem 1.9rem;
  width: 48.5%;
  font-size: 2rem;
  color: #fd5433;
}
.feedback__email {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2.1rem 2.1rem 1.9rem;
  margin-left: 2.7%;
  width: 48%;
  font-size: 2rem;
  color: #fd5433;
}
.feedback__message {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 2.1rem 2.1rem 1.9rem;
  margin-top: 2.8rem;
  font-size: 2rem;
  color: #fd5433;
}
.feedback__button {
  font-size: 2.6rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 1.5rem 0 1.2rem;
  margin-top: 2.4rem;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  cursor: pointer;
}
.footer {
  margin-top: 8.3rem;
  border-top: .1rem solid #fff;
}
.footer__content {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
}
