.about__tabs{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.6rem;
}

.about__info{
    position: relative;
    padding: 6.7rem 0 4.3rem;
    background-color: #fd5433;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.about__container{
    display: flex;
    justify-content: space-between;
}

.about__info-container{
    width: 44%;
}

.about__switch, .about__Elizabeth-Stevens, .about__Diana-Paterns, .about__Kate-Eastwood{
    display: none;
}

.about__info-title{
    font-size: 2.2rem;
    text-transform: none;
    margin-bottom: 5.3rem;
}

.about__description{
    margin-bottom: 5.1rem;
}

.about__skill{
    display: flex;
    align-items: center;
}

.about__skill:not(:first-child){
    margin-top: 1.3rem;
}
