.button{
    transition: background .3s ease-in;
    font-family: "Oswald";
    font-weight: 700;
    color: #fff;
    background: #fd5433;
    border-top: 2px solid #ff6d51;
    box-shadow: 0 6px 4px -4px #000;
}

.button:focus, .button:hover{
    background: #ff6d51;
    color: #fff;
}
