.header{
    color: #474444;
}

.header__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.header__logo{
    font-family: "Oswald";
    font-size: 7rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

.header__char{
    color: #fd5433;
}
