.header{
    background-color: #fff;
    color: #474444;
}

@media screen and (min-width: 768px) and (max-width: 1400px){

    .header{
        position: fixed;
        z-index: 100;
        width: 100%;
        box-shadow: 0 .3rem .5rem #474747;
    }

    .header__menu{
        display: none;
    }
}

@media screen and (min-width: 1401px){

    .header__menu{
        display: none;
    }
}

@media screen and (max-width: 783px){

    .header__menu{
        display: inline-block;
        color: #fff;
        background: #fd5433;
    }

    .menu{
        display: none;
    }
}

.header__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.header__logo{
    font-family: "Oswald";
    font-size: 7rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

.header__char{
    color: #fd5433;
}
