.home{
    font-family: "Oswald";
    color: #fff;
}

.home{
    position: relative;
    background-image: url("../img/Banner.jpg");
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding-top: 22.9rem;
    padding-bottom: 33.4rem;
}

.home:before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .4;
}

.home__text{
    text-transform: uppercase;
    font-size: 12rem;
}

.home__item{
    margin-top: 5.7rem;
}

.home__button{
    padding: 1.3rem 5.4rem 1.1rem;
    font-size: 3.2rem;
    border-radius: .5rem;
}

.home__button:focus{
    outline: .2rem solid #fff;
}
