.menu{
    font-size: 1.7rem;
    font-family: "Oswald";
}

.menu__list{
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.menu__list-item{
    float: left;
}

.menu__list:after{
    display: block;
    content: "";
    clear: left;
}

.menu__link{
    display: inline-block;
    font-weight: 700;
    padding: 4.7rem 1.5rem;
    color: #474444;
    transition: background-color .2s ease-in,
                color .2s ease-in;

    &:hover, &:focus{
        background-color: #fd5433;
        color: #fff;
        outline: none;
    }
}

@media screen and (max-width: 399px){

    .menu{
        font-size: 3rem;
    }

    .menu__link{
        display: inline-block;
        font-weight: 700;
        padding: 2.3rem 1.3rem;
        color: #474444;
    }

}
