.posts{
    padding-bottom: 9.9rem;
    border-bottom: .1rem solid #474444;
}

.posts__content{
    padding-top: 9.9rem;
}

.posts__column{
    display: inline-block;
    vertical-align: top;
    width: 49%;
    margin-right: 1rem;
}

.posts__item-column{
    margin-right: 0;
}

.posts__column-content{
    display: inline-block;
    vertical-align: top;
    width: 48%;
    margin-left: 1.7rem;
    color: #686868;
}

.posts__title{
    font-size: 25px;
    color: #3d3c3c;
    margin-top: 0;
    margin-bottom: 0;
}

.posts__date{
    margin-top: 1rem;
    padding-bottom: 1.8rem;
    font: 1.5rem "Oswald-Bold";
}

.posts__month-hr{
    padding-bottom: 1.4rem;
    border-bottom: .4rem solid #fd5433;
}

.posts__column-text{
    width: 88%;
    margin-top: 3rem;
    font: 1.6rem Arial;
}
