.section{
    margin-top: 3.8rem;
}

.section__services{
    padding-bottom: 8.1rem;
    border-bottom: .1rem solid #828282;
}

.section__title{
    margin-bottom: 3.6rem;
    font-size: 3.2rem;
    text-align: center;
    font-weight: 700;
    color: #fd5433;
}

.section__content{
    padding-top: 3.6rem;
    border-top: .1rem solid #828282;
}

.section__services-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section__services-name{
    margin-bottom: 3.4rem;
    font-size: 3rem;
    color: #474747;
}

.section__branding, .section__design, .section__marketing{
    width: 32%;
    text-align: center;
    padding-top: 210px;
    background-position-x: center;
    background-repeat: no-repeat;
}

.section__branding{
    background-image: url("../img/PEN.jpg");
}

.section__design{
    background-image: url("../img/PC.jpg");
}

.section__marketing{
    background-image: url("../img/Mic.jpg");
    margin-right: 0;
}

.section__services-info{
    padding-left: 7%;
    padding-right: 7%;
}
