.section{
    margin-top: 3.8rem;
}

.section__title{
    margin-bottom: 3.6rem;
    font-size: 3.2rem;
    text-align: center;
    font-weight: 700;
    color: #fd5433;
}

.section__content{
    border-top: .1rem solid #828282;
}

@media screen and (max-width: 399px){

    .section__title{
        font-size: 5.3rem;
    }
}
